
.form-container {
    display: flex;
    justify-content: center;
}
.bform {
  border: 1px solid gray;
  padding: 5px;
  margin: 2px 0 2px 0;
  width:50%;
}
.row {
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}
.bform input {
  padding-right: 20px;
}
.text-end {
  width: 30%;
  display: grid;
}